bin/
bin32/
bin-uwp/
gen/
assets/
assets-nx/
assets-ps4/
assets_unpacked/
.vscode/
build/
build32/
build-uwp/
build-external/
build-ninja/
build-ninja-external/
.DS_Store/
win32_bin/
win64_bin/
macos_bin/
linux_bin/
res/*.aps
.vs/
src/build_version.h
