# Windows
Thumbs.db

# CLion/IntelliJ
.idea

# Containers
halley-box

# Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.sdf
*.opensdf
*.opendb
*.VC.db
*.ipch
*.iobj
*.pdb
*.ipdb
*.psess
*.vspx
*.lastcodeanalysissucceeded

# VSCode
.vscode

# Binaries
/assets/
/assets_unpacked/
/bin/
*.dll
*.hi
*.o
*.a
*.so
*.dylib
*.lib
*.pri
*.exe
*.exp
halley-cmd
halley-sample-test

# Intermediate files
[Dd]ebug*/
[Rr]elease*/
obj/

# Misc
*.cache
*.ilk
*.log
_ReSharper*/
*.sbr

# Build system
/build/
/build-external/

# External folder
/external/
/gen/
