# Windows
Thumbs.db

# Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.sdf
*.opensdf
*.opendb
*.VC.db
*.ipch

# Binaries
*.dll
*.hi
*.o
[Bb]in
[Bb]in64

# Intermediate files
[Dd]ebug*/
[Rr]elease*/
obj/

# Misc
*.cache
*.ilk
*.log
_ReSharper*/
*.sbr
