# Windows
Thumbs.db

# CLion/IntelliJ
.idea

# Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.sdf
*.opensdf
*.opendb
*.VC.db
*.ipch
*.iobj
*.pdb
*.ipdb
*.psess
*.vspx
*.lastcodeanalysissucceeded

# VSCode
.vscode

# Vim
compile_commands.json
*.swp

# Binaries
/assets/
/assets_unpacked/
/bin/
*.dll
*.hi
*.o
*.a
*.so
*.dylib
*.lib
*.pri
*.exe
*.exp
halley-cmd
halley-sample-test

# Intermediate files
[Dd]ebug*/
[Rr]elease*/
obj/

# Misc
*.cache
*.ilk
*.log
_ReSharper*/
*.sbr
.clangd/

# Build system
/build/
/build-external/

# External folder
/external/

# Codegen
/gen/

# Shared codegen (don't ignore the whole folder as /shared_gen/cpp/components/ contains files that go in git)
/shared_gen/*.db
/shared_gen/cpp/*.cpp
/shared_gen/cpp/*.h
