src/contrib/* linguist-vendored
src/engine/utils/contrib/* linguist-vendored
src/plugins/opengl/src/gl_core_3_3.c linguist-vendored
src/plugins/opengl/include/halley/opengl/gl_core_3_3.h linguist-vendored
