<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP" version="2018.6.20181010.2" targetFramework="native" />
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP.v140.ARM" version="2018.6.20181010.2" targetFramework="native" />
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP.v140.x64" version="2018.6.20181010.2" targetFramework="native" />
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP.v140.x86" version="2018.6.20181010.2" targetFramework="native" />
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP.v141.ARM" version="2018.6.20181010.2" targetFramework="native" />
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP.v141.x64" version="2018.6.20181010.2" targetFramework="native" />
  <package id="Microsoft.Xbox.Live.SDK.Cpp.UWP.v141.x86" version="2018.6.20181010.2" targetFramework="native" />
</packages>